@import 'styles/colors';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
  gap: 100px;
  width: 100%;
  height: 93vh;
  padding: 0;
}

.stepper-container {
  background-color: $blue;
  height: 100%;
  width: 280px;
  border-radius: 10px;
  position: relative;

  &:before {
    content: '';
    background-image: url('../../public/images/stepper-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 250px;
    bottom: 0;
    border-radius: 10px;
  }
}

.steps {
  margin: 30px 30px;

  .step-label {
    margin-bottom: 30px;
  }
}

.page-container {
  height: 100%;
  max-width: 500px;
  width: 100%;
  background-color: white;
  margin-left: 30px;
  margin-left: 30px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    margin: 0;
    gap: 0;
    background: $mobile-background;
    height: 100vh;

    .stepper-container {
      height: 180px;
      width: 100vw;
      border-radius: 0;
      
      .steps {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        position: relative;
        z-index: 2;
      }

      &:before {
        background-image: url('../../public/images/mobile-stepper-bg.png');
      }
    }

    .page-container {
      position: relative;
      top: -50px;
      margin: auto;
      width: 100%;
      max-width: 450px;
      border-radius: 10px;
    }
  }
}
